.mp-buttons {
    color: #fff;
}


.active { display: block !important; }

.picka-single.is-hidden {
    display: none;
}

.picka-single {
    position: absolute;
    border: 1px solid rgb(85, 84, 84);
    width: 280px;
    background: #333131;
    color: #fff;
    padding: 7px;
    border-radius: 2px;
    font-size: .9em;
    z-index: 20;
}

.picka-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.picka-single div span{
    background: rgb(29, 29, 29);
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px 0px;
    text-transform: capitalize;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}


.picka-button.is-current-month {
    color: #3581ad !important;
    font-weight: bold !important;
}

.is-selected.picka-button {
    color: #fff !important;
    font-weight: bold;
    background: #157ab4;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.picka-button:hover {
    background-color: #157ab4;
    color: #fff;
}

.month-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    font-size: .89em;
}

.picka-title {
    padding: 0 10px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.picka-title button {
    /* display: block; */
    /* width: 100%; */
    background: rgb(51, 50, 50);
    border: transparent;
    border-radius: 4px;
    padding: 5px;
    outline: none;
    cursor: pointer;
    color: #fff;
}
.picka-title button:hover {
    background-color: rgb(29, 26, 26);
}

.picka-title button:active {
    filter: brightness(120%);
}

.picka-next {
    transform: rotate(180deg);
}

.left-button, .picka-next {
    opacity: 50%;
}
.mp-year {
    font-weight: 600;
}

