* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(31, 28, 28);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(45, 99, 85);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(8, 124, 136);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(77, 52, 52);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



/**
* CUSTOM STYLES
*/

.header {
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 20px 0;
    margin-bottom: 30px;
    background-color: rgb(228, 61, 10);
    opacity: 0.9;
}

.header h1 {
    margin: 0;
    color: #fff;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header span {
    color: #fff;
    display: block;
}

.header h4, .header span {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
    line-height: 1.3em;
}

.manual-control {
    background-color: rgb(25, 51, 45);
    height: 580px;
}
.manual-control h1 {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 920px;
    margin: 0 auto;
    padding: 30px 0;
}
.main-content {
    width: 95%;
    margin: 0 auto 50px;
}
.relaystatus {
    width: 920px;
    margin: auto;
    padding: 10px 0;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.relaystatus div {
    background: rgb(29, 70, 60);
    color: rgb(219, 204, 204);
    font-size: .8em;
    border-radius: 1em;
}

.status1 {
    display: table;
    height: 100px;
}

.status1 div {
    height: 100px;
}

.status1 div label {
    display: table-caption;
    vertical-align: middle;
    transform: translatey(33px);
}

.relaystatus h4 {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    font-family: Arial;
    text-align: center;
}

.graph-group1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.graph-group2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.panel .chart {
    background: rgb(238, 235, 235);
}

.panel-header {
    background-color: #2F7EB2;
    color: #fff;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    line-height: 40px;
    font-weight: 100;
}

.panel-header h3 {
    margin-left: 10px;
}
.panel-body {
    background-color: rgb(51, 49, 49);
    padding: .6em;
}


.panel .leds {
    background-color: #4e4c4c;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: right;
}

.leds > div {
    display: table;
    padding: 10px 0;
    /* width: 90%;
    text-align: right; */
}

.leds div span {
    display: table-cell;
    vertical-align: middle;
    padding-right: 30px;
    color: #fff;
}

.leds div div {
    display: table-cell;
    vertical-align: middle;
}

.numeric-group {
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.numeric-group span {
    font-weight: 500;
    font-size: 1.6em;
    padding-right: 30px;
    display: block;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panel .numeric-power {
    color: rgb(5, 164, 238);
}

.panel .numeric-voltage {
    color: rgb(236, 11, 11);
}

.panel .numeric-current {
    color: rgb(0, 124, 31);
}

.panel .numeric-wind_speed {
    color: rgb(168, 12, 173);
}
.panel .numeric-solar_irradiance {
    color: rgb(196, 167, 4);
}

.numeric-group {
    display: flex;
}
.numeric-group i {
    display: block;
    font-size: .8em;
    font-style: normal;
    color: #fff;
}
.numeric-group span {
    margin-left: 10px;
}




.panel-control {
    color: #FFF;
    padding: 12px 0;
    background: rgb(44, 41, 41);
    position: relative;
}
.tab-control {
    margin: 0 10px 0 10px;
    display: inline-block;
}
.tab-control input[type="radio"]{
    display: none;
}
.tab-control input[type="radio"]:checked+label>span{
    background-color: #356de7;
}
.panel-control span {
    padding: 8px 15px;
    background-color: rgb(37, 35, 35);
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.panel-control span:hover {
    background-color: rgb(63, 66, 68);
}
.panel-control span:active {
    background-color: rgb(54, 56, 58);
}
.navigation-control {
    display: inline-block;
    position: absolute;
    right: 10px;
}
.text-control {
    display: inline-block;
    margin-left: 25px;
}
.text-control em:first-child {
    margin-right: 10px;
    font-style: normal;
}



/* responsive */
/* @media only screen and (max-width: 980px) {
    .relaystatus {
        width: auto;
        margin: 0;
        padding: 0;
        grid-gap: 2px;
        grid-template-columns: 1fr;
    }
    .relaystatus div {
        border-radius: 0;
    }
}

@media o                                    nly screen and (max-width: 720px) {
    .chart {
        margin: 0;
        padding: 0;
    }
} */

